{% extends "base/base-layout.njk" %}

{% block content %}
  {% include "components/header/header.njk" %}
  <h1>This is the main section</h1>
  {% include "components/banner/banner.njk" %}
{% endblock content %}

