<header>
  <h1>Logo</h1>
  <nav>
    <ul>
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
    </ul>
  </nav>
</header>


{% block bodyScripts %}
  <script src="js/header.js"></script>
{% endblock %}
